<?xml version="1.0" encoding="UTF-8" ?>     <!-- Mapper层实现具体的增删改查操作    -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
        <mapper namespace="FeedBackDao">
        <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
        <select id="getFeedBackById" resultType="Service.feedback.FeedBack">  <!--根据楼号和发布日期和发布者来查询特定的通知 -->
        select

        buildingId as buildingId,
        releaseDate as releaseDate,
        publisher as publisher,
        content as content
        from
        StuFeedBack
        where buildingId = #{buildingId} and releaseDate=#{releaseDate} and publisher=#{publisher};
        </select>


        <select id="getFeedBackAll" resultType="Service.feedback.FeedBack">
        select * from StuFeedBack;
        </select>

        <select id="getFeedBackBuildingAll" resultType="Service.feedback.FeedBack">
        select * from StuFeedBack
        where buildingId = #{buildingId};
        </select>

        <!--插入数据-->
        <insert id="insertFeedBack" parameterType="Service.feedback.FeedBack">
        INSERT INTO StuFeedBack (

        buildingId,
        releaseDate,
        publisher,
        content
        )
        VALUES
        (
        #{buildingId},
        #{releaseDate},
        #{publisher},
        #{content}
        );
        </insert>

        <update id="updateFeedBack" parameterType="Service.feedback.FeedBack">
        UPDATE StuFeedBack
        <trim prefix="set" suffixOverrides=",">
        <if test="buildingId!=null">buildingId = #{buildingId},</if>
        <if test="releaseDate!=null">releaseDate = #{releaseDate},</if>
        <if test="publisher!=null">publisher = #{publisher},</if>
        <if test="content!=null">content = #{content}</if>
        </trim>
        WHERE
        ( buildingId= #{buildingId} and releaseDate= #{releaseDate} and publisher=#{publisher});
        </update>

        <delete id="deleteFeedBack" >
        delete from StuFeedBack where  releaseDate= #{releaseDate} and publisher= #{publisher};  <!--根据发布日期和发布者删除反馈-->
        </delete>
        </mapper>